MODELBRIDGE_API_KEY=
MODELBRIDGE_CHAT_MODEL=
MODELBRIDGE_STT_MODEL=
MODELBRIDGE_TTS_MODEL=
MODELBRIDGE_TTS_VOICE=alloy
AZURE_SPEECH_REGION=
AZURE_SPEECH_KEY=
ADMIN_ACCESS_TOKEN=change-me
ADMIN_MONITOR_TOKEN=change-me
YOUTUBE_API_KEY=

SETTINGS_MASTER_KEY=
